<ng-container *ngIf="(currentRoutePath$ | async) as currentRoutePath">
  <button *ngIf="currentRoutePath !== '/timer'"
    type="button"
    [routerLink]="['/timer']"
    routerLinkActive="router-link-active"
    #rlat="routerLinkActive"
    [routerLinkActiveOptions]="{exact: true}">
    Go to Timer
  </button>
  <button *ngIf="currentRoutePath !== '/'"
    type="button"
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
    [routerLinkActiveOptions]="{exact: true}"
    #rlah="routerLinkActive">
    Go Home
  </button>
  <button *ngIf="currentRoutePath !== '/counter'"
    type="button"
    [routerLink]="['/counter']"
    routerLinkActive="router-link-active"
    [routerLinkActiveOptions]="{exact: true}"
    #rlah="routerLinkActive">
    Go Counter
  </button>
</ng-container>




<router-outlet></router-outlet>
